@import "variables.scss";

.woa-button {
  font-size: 1.5em;
  color: white;
  padding: 0 20px;
  font-weight: 500;
  background-color: $primary-color;
  border: 0;
  border-radius: 10px;
  line-height: 50px;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s ease;

  @media only screen and (max-width: 525px) {
    font-size: 1em;
    padding: 10px;
    line-height: 30px;
  }

  &:hover {
    transform: scale(1.05);
  }

  &.disabled {
    position: relative;
    padding-left: 50px;
    color: #a6a6a6;
    background-color: #e0e0e0;
    cursor: not-allowed;

    &:hover {
      transform: initial;
    }

    .loading {
      position: absolute;
      width: 0.5em;
      height: 1em;
      left: 20px;
      top: 50%;
      margin-top: -12px;
      border: 3px solid transparent;
      border-top-color: #a6a6a6;
      border-bottom-color: #a6a6a6;
      border-radius: 50%;
      animation: spin-stretch 2s ease infinite;

      @media only screen and (max-width: 525px) {
        left: 23px;
        margin-top: -10px;
      }
    }
  }

}



@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.3, 0.23);
    border-width: 8px;
  }

  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}