.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));

  .location-box {
    text-align: center;

    p.location {
      font-size: 32px;
      font-weight: bold;
      text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    }

    span.date {
      font-size: 20px;
      font-weight: 100;
      font-style: italic;
      text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }
  }

  .weather-box {
    width: 100%;

    span.temperature {
      display: block;
      width: 100%;
      font-size: 102px;
      text-align: center;
      text-shadow: 3px 6px rgba(50, 50, 70, 0.5);

      &:after {
        content: '\00b0';
        position: absolute;
      }
    }

    .description {
      text-align: center;
      text-transform: capitalize;
      font-size: 20px;
      font-style: italic;
    }

    .detailed-temp {
      display: flex;
      justify-content: center;
      font-weight: 100;
      font-style: italic;

      p {
        margin: 0px 10px;
      }
    }
  }
}